{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "quotes": ["error", "single"],
        "no-console": ["error", { "allow":  ["warn", "error", "info"] }],
        "no-alert": "error",
        "curly": "error",
        "eqeqeq": "error",
        "block-spacing": "error",
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "object-curly-spacing": ["error", "always"],
        "semi": ["error", "always"]
    }
}
