<header>
    <a class="header" href="/">
        <img class="header__logo" src="{{ staticBasePath }}logo.svg" alt="TelltailGames">
        <h1 class="header__title">
            <span class="header__title_color_pink">Telltail</span><span class="header__title_weight_light">Games</span>
        </h1>
    </a>
</header>
