@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Gabriela&display=swap');

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 10%;
}

.padding_none {
  padding: 0;
}

.margin_none {
  margin: 0;
}

.listStyle_none {
  list-style: none;
}

.a_no-decor {
  text-decoration: none;
}

.color_black {
  color: #000;
}

.color_white {
  color: #fff;
}

.text-align_center {
  text-align: center;
}

@media screen and (max-width: 568px) {
  main {
    margin: 0 5%;
  }
}
