@import url('https://fonts.googleapis.com/css?family=Roboto|Gabriela&display=swap');

main {
  margin: 0 99px;
}

.hashtag {
  font-family: 'Gabriela', serif;
  font-size: 42px;
}

.hashtag::before {
  content: '#';
}

.quests {
  padding: 0;
  margin: 0;
}

.quest {
  list-style: none;
  margin-bottom: 35px;
}

.quest:last-child {
  margin-bottom: 0;
}

.quest__image-link,
.quest__info {
  display: inline-block;
}

.quest__image-link {
  width: 200px;
  margin-right: 34px;
}

.quest__info {
  vertical-align: top;
  width: calc(100% - 240px);
}

.quest__image {
  height: 150px;
  width: 200px;
  object-fit: contain;
}

.quest__description,
.quest__title {
  font-family: 'Gabriela', serif;
}

.quest__title {
  color: #000;
  font-size: 30px;
  text-decoration: none;
  display: block;
  width: max-content;
}

.quest__description {
  font-size: 18px;
  line-height: 1.8em;
}

.tags {
  padding: 0;
  margin: 0;
}

.tag {
  list-style: none;
  display: inline-block;
  margin: 0 8px 0 0;
}

.tag:last-child {
  margin: 0;
}

.tag__link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  background-color: #b3b3b3;
  border-radius: 4px;
}

.tag__link::before {
  content: '#';
}
