@import url('https://fonts.googleapis.com/css?family=Gabriela|Roboto&display=swap');

.scene {
  padding: 0 45px;
  margin-bottom: 100px;
}

.scene_padding_none {
  padding: 0;
}

.scene_margin_none {
  margin: 0;
}

.scene_list-style_none {
  list-style: none;
}

.scene_a_no-decor {
  text-decoration: none;
}

.scene_color_black {
  color: #000;
}

.scene_color_white {
  color: #fff;
}

.scene_text-align_center {
  text-align: center;
}

.scene__image {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.scene__description {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  min-height: 200px;
}

.scene__text {
  white-space: pre-wrap;
  font-family: 'Gabriela', serif;
  font-size: 22px;
  position: absolute;
  width: 50%;
}

.scene__text_left-up {
  top: 30px;
  left: 30px;
}

.scene__text_left-down {
  bottom: 30px;
  left: 30px;
}

.scene__text_right-up {
  top: 30px;
  right: 30px;
  text-align: right;
}

.scene__text_right-down {
  bottom: 30px;
  right: 30px;
  text-align: right;
}

.scene__achievement {
  margin-bottom: 30px;
  font-family: 'Gabriela', serif;
  width: 48%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.scene__achievement:nth-child(2n - 1) {
  margin-right: 3%;
}

.scene__achievement-image {
  height: 147px;
  width: 147px;
  min-width: 147px;
  border-radius: 50%;
  object-fit: cover;
}

.scene__achievement-info {
  vertical-align: top;
  margin-left: 20px;
}

.scene__achievement-notify {
  font-size: 30px;
}

.scene__achievement-text {
  font-size: 48px;
  margin-top: 10px;
}

.scene__actions {
  margin-top: 30px;
  text-wrap: normal;
}

.scene__action {
  display: inline-block;
  margin-right: 52px;
  padding: 15px 0;
  line-height: 3em;
}

.scene__action:last-child {
  margin-right: 0;
}

.scene__start-again-button {
  margin-top: 50px;
}

.scene__button {
  padding: 15px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  text-decoration: none;
  background-color: #555;
  border-radius: 4px;
}
